/*
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/release.yml

!go.mod
!go.sum

!LICENSE
!README.md
!CONTRIBUTING.md

!shell.nix
!flake.nix
!flake.lock

!build-local.sh

!cmd/
!internal/
